body{
	direction: rtl;
}

.left{ float:right;}
.right{ float:left;}

.bt_like { float:left; }

#menu ul li a {
	float: right;
}

#left {
	float:right;
	right: -10px;
}

#right {
	float: left;
}

#right .free {
	padding: 22px 8px 0 0;
}

#accueil ul.menu_game li a {
	float: right;
	white-space:nowrap;
}

#accueil ul.menu_game li a.connected {
	float: left;
}

.form label {
	float: right;
	text-align:left;
	padding-right:0px;
	padding-left:10px;
}

#accueil .profil .photo{
	padding-right:0px;
	padding-left:10px;
}

.fenetre .close,
#shop .close,
#trophy .close {
	right: auto;
	left:5px;
}
.fenetre .stats_joueur .ct-stats {
	margin-right:50px;
}
.fenetre .stats_joueur .name-stats {
	padding:0 10px 20px 10px;
	color:#3b5998;
	line-height:0;
}
.fenetre .stats_joueur label {
	text-align: left;
}
#jeu_blanc, #jeu_noir {
	border-width: 5px 0 5px 5px;
}
#coup {
	float: left;
}

#accueil table.parties tr .nom{
	padding-right:5px;
}

#accueil div.tchat .ct .image {
	float: right;
	padding-left: 5px;
}

#accueil div.tchat .ct .close {
	right: auto;
	left:0;
}
#accueil div.tchat .ct .mg{
	width:400px;
	margin-right:35px
}
.profil_jeu img {
	padding-right: 0px;
	padding-left: 10px;
}
.decompte {
	right: auto;
	left: -8px;
}

.decompte_tour {
	right: auto;
	left: -8px;
}

.bt {
	right:auto;
	left: 100px;
}

.replay {
	right:auto;
	left:100px;
}

#menu a.token {
	padding-right: 5px;
	padding-left: 0;
	float: left;
	text-align: left;
}

#menu a.token .plus {
	float: left;
}

#menu a.token .ico {
	float: right;
}

#menu a.token .text {
	padding-left: 5px;
	padding-right: 0;
}

#shop .infos {
	right: auto;
	left: 5px;
}

#shop h3 {
	background: url(../img/token-medium.png) no-repeat right top;
	padding-right: 60px;
	padding-left: 0;
}

#shop ul li a {
	float: right;
}

#shop table tr th {
	text-align: right;
}

#footer .fb-like-box {
	left: 0;
	right: auto;
}

#trophy .description_1{ 
	left:430px;
	top:-50px;
}
#trophy .description_2{  
	left:330px;
}
#trophy .description_3{  
	left:230px;
}
#trophy .description_4{  
	left:130px;
}
#trophy .description_5{
	left:30px;
}

#trophy .description_6{ 
	left:430px;
}
#trophy .description_7{  
	left:330px;
}
#trophy .description_8{  
	left:230px;
}
#trophy .description_9{  
	left:130px;
}
#trophy .description_10{  
	left:30px;
}

#trophy .description_11{ 
	left:430px;
}
#trophy .description_12{  
	left:330px;
}
#trophy .description_13{ 
	left:230px;
}
#trophy .description_14{  
	left:130px;
}
#trophy .description_15{  
	left:30px;
}

#trophy .description_16{ 
	left:430px;
}
#trophy .description_17{  
	left:330px;
}
#trophy .description_18{ 
	left:230px;
}
#trophy .description_19{  
	left:130px;
}
#trophy .description_20{  
	left:30px;
}

.invite .photo {
	float: right;
	padding-right:0px;
	padding-left:5px;
}

.invite h3 {
	text-align: right;
}

.invite ul {
	left: auto;
	right: -10px;
}

.invite .nb {
	left: auto;
	right: 10px;
}

.invite button {
	float: left;
	margin: 5px 0 0 30px;
}
