* {
     margin:0;
     padding:0;
}

body{
	background: url(../img/bg.png) no-repeat center 0 #c8c8c8;
	color:#000;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size:13px;
}

a { 
	cursor:pointer;
	font-weight:bold;
	text-decoration: none;
	color: #3b5998
}

h2{ font-size:20px; }
h3{ position:relative; }
button:hover{ cursor:pointer; }

.load {
    position:relative;
    top:250px;
    text-align:center;
}

.bt_like {
	float:right;
	line-height: 30px;
}

body .fb-like {
	display:none;
}

#menu .fb-like {
	line-height: 1;
	display:inline-block;
}

#fade {
	display:none;
	position: absolute;
	background-color: #000;
	background-position: top left;
	z-index: 10;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	opacity: 0.5;
}

 input[type=button]:hover {
 	cursor:pointer;
 }
 
.ui-draggable { 
	cursor:move;
}

.left { 
	float:left;
}

.right { 
	float:right;
}

.clear { 
	clear:both; 
	float:none;
}

.center { 
	text-align:center;
}

.bg-brun, 
.bg-brun a { 
	background-color:#362f2d; 
	color:#fff;
}

.bg-bleu, 
.bg-bleu a { 
	background-color:#005b7f; 
	color:#fff;
}

.bg-gris, 
.bg-gris a { 
	background-color:#EDEFF4; 
	color:#000; 
}

/********* HEADER *************/

#header {
	position: relative;
	width: 728px;
	height: 90px;
	margin: 8px auto;
}

/********* CONTENT *************/

#content {
	width:750px;
	margin:0 auto;
}

/******** START ********/

#start {
    position:relative;
	width: 700px;
	height: 200px;
	margin:132px auto 0 auto;
}

#start .play{
	display:inline-block;
	position:relative;
	color:#fff;
    font-size: 40px;
    text-transform:uppercase;
	text-align:center;
   	height: 200px;
	width: 300px;
	font-weight: bold;
	background:url(../img/i-mac.png) no-repeat center;
	border: 0;
	margin: 0 25px;
	vertical-align: middle;
	padding-bottom: 30px;
}


/******* LEFT **************/

#left {
	float:left;
	position:relative;
	left:-10px;
	height:580px;
	width:100px;
	margin:0 auto;
}

#left .infos{
	display:block;
	width: 100px;
	height:75px;
	border: 5px solid #362f2d;
	border-radius: 10px;
	background:#fff;
}

#left .infos .clock{
	background:#000;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	line-height:40px;
	height:40px;
	text-align:center;
	border-bottom: 5px solid #362f2d;
}

#left .infos .connected{
	color:#000;
	font-size:13px;
	font-weight:bold;
	line-height:30px;
	height:30px;
	text-align:center;
}

#left .trophy {
	display:block;
	width: 100px;
	height:130px;
	margin-top:20px;
	background: url(../img/trophee.png) no-repeat;
	border: 5px solid #362f2d;
	border-radius: 10px;
}

#left #sound {
	display:block;
	width: 100px;
	height:75px;
	margin-top:20px;
	background-repeat: no-repeat;
	background-color: #fff;
	border: 5px solid #362f2d;
	border-radius: 10px;
}

#left .no-sound { background-image: url(../img/no-sound.png); }
#left .sound { background-image: url(../img/sound.png); }

/******* RIGHT **************/

#right {
	float:right;
	position:relative;
	height:580px;
	width:100px;
	margin:0 auto;
}

#right .pieces{
	display: block;
	margin-bottom: 20px;
	width: 100px;
	background-color: #362f2d;
	border: 5px solid #362f2d;
	border-radius: 10px;
}

#right .pieces .noir{
	display:block;
	width: 100px;
	min-height: 36px;
	padding: 3px 0;
	background-color: #000;
}

#right .pieces .blanc{
	display:block;
	width: 100px;
	min-height: 36px;
	padding: 3px 0;
	background-color: #fff;
}

#right .piece{
	display:inline-block;
	width:33px;
	height:33px;
	position:relative;
	background-position: center;
	background-repeat: no-repeat;
}

#right .pieces .noir .cavalier { background-image:url(../img/pieces-mini/cavalier_blanc.png); }
#right .pieces .blanc .cavalier { background-image:url(../img/pieces-mini/cavalier_noir.png); }

#right .pieces .noir .fou { background-image:url(../img/pieces-mini/fou_blanc.png); }
#right .pieces .blanc .fou{ background-image:url(../img/pieces-mini/fou_noir.png);}

#right .pieces .noir .pion { background-image:url(../img/pieces-mini/pion_blanc.png); }
#right .pieces .blanc .pion { background-image:url(../img/pieces-mini/pion_noir.png); }

#right .pieces .noir .reine{ background-image:url(../img/pieces-mini/reine_blanc.png); }
#right .pieces .blanc .reine { background-image:url(../img/pieces-mini/reine_noir.png); }

#right .pieces .noir .roi { background-image:url(../img/pieces-mini/roi_blanc.png); }
#right .pieces .blanc .roi { background-image:url(../img/pieces-mini/roi_noir.png); }

#right .pieces .noir .tour{ background-image:url(../img/pieces-mini/tour_blanc.png); }
#right .pieces .blanc .tour { background-image:url(../img/pieces-mini/tour_noir.png); }

#right .promo,
#right .dealspot {
	display:block;
	margin-bottom:20px;
	width: 100px;
	height:100px;
	background-repeat: no-repeat;
	border: 5px solid #362f2d;
	border-radius: 10px;
}

#right .promo-ar { background-image: url(../img/promo/ar.png); }
#right .promo-de { background-image: url(../img/promo/de.png); }
#right .promo-es { background-image: url(../img/promo/es.png); }
#right .promo-en { background-image: url(../img/promo/en.png); }
#right .promo-fr { background-image: url(../img/promo/fr.png); }
#right .promo-it { background-image: url(../img/promo/it.png); }
#right .promo-ja { background-image: url(../img/promo/ja.png); }
#right .promo-nl { background-image: url(../img/promo/nl.png); }
#right .promo-pt { background-image: url(../img/promo/pt.png); }
#right .promo-ru { background-image: url(../img/promo/ru.png); }
#right .promo-tr { background-image: url(../img/promo/tr.png); }
#right .promo-zh { background-image: url(../img/promo/zh.png); }

#right .dealspot-ar { background-image: url(../img/dealspot/ar.png); }
#right .dealspot-de { background-image: url(../img/dealspot/de.png); }
#right .dealspot-es { background-image: url(../img/dealspot/es.png); }
#right .dealspot-en { background-image: url(../img/dealspot/en.png); }
#right .dealspot-fr { background-image: url(../img/dealspot/fr.png); }
#right .dealspot-it { background-image: url(../img/dealspot/it.png); }
#right .dealspot-ja { background-image: url(../img/dealspot/ja.png); }
#right .dealspot-nl { background-image: url(../img/dealspot/nl.png); }
#right .dealspot-pt { background-image: url(../img/dealspot/pt.png); }
#right .dealspot-ru { background-image: url(../img/dealspot/ru.png); }
#right .dealspot-tr { background-image: url(../img/dealspot/tr.png); }
#right .dealspot-zh { background-image: url(../img/dealspot/zh.png); }

#right .free {
	position:relative;
	margin-bottom: 20px;
	width: 100px;
	height: 100px;
	font-size: 15px;
	font-weight: bold;
	color: #000;
	border: 5px solid #362f2d;
	background: url(../img/bonus.png) no-repeat;
	border-radius: 10px;
}

#right .free .time{
	position: absolute;
	top: 18px;
	left: 8px;
	color: #000;
	height: 26px;
	line-height: 26px;
	width: 84px;
}

#right .free .time span{
	position:absolute;
}

#right .free .time span.hours{ left:3px; }
#right .free .time span.sep-1{ left:24px; }
#right .free .time span.minutes{ left:32px; }
#right .free .time span.sep-2{ left:53px; }
#right .free .time span.secondes{ left:61px; }

#right .invite {
	display:block;
	width: 100px;
	height:120px;
	background-repeat: no-repeat;
	border: 5px solid #362f2d;
	border-radius: 10px;
}

#right .invite-ar { background-image: url(../img/invite/ar.png); }
#right .invite-de { background-image: url(../img/invite/de.png); }
#right .invite-es { background-image: url(../img/invite/es.png); }
#right .invite-en { background-image: url(../img/invite/en.png); }
#right .invite-fr { background-image: url(../img/invite/fr.png); }
#right .invite-it { background-image: url(../img/invite/it.png); }
#right .invite-ja { background-image: url(../img/invite/ja.png); }
#right .invite-nl { background-image: url(../img/invite/nl.png); }
#right .invite-pt { background-image: url(../img/invite/pt.png); }
#right .invite-ru { background-image: url(../img/invite/ru.png); }
#right .invite-tr { background-image: url(../img/invite/tr.png); }
#right .invite-zh { background-image: url(../img/invite/zh.png); }

/******* CONTENU **************/

#conteneur {
	position:relative;
	height:580px;
	width:500px;
	margin:30px auto 20px auto;
	border:5px solid #362f2d;
	background:#fff;
	border-radius: 10px;
}

#contenu .load {
	text-align: center;
	padding-top: 45%;
}

/******* FOOTER *************/

footer {
	position: relative;
	width: 100%;
	height:100%;
	background: #595959;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
}

#footer {
	position: relative;
	width: 760px;
	height: 300px;
	margin: 20px auto;
	border: 5px solid #362f2d;
	background: #fff;
	border-radius: 10px;
}

#footer #pub {
	float:right;
	width:300px;
	height:250px;
}

#footer #pub iframe {
	width: 300px;
	height: 250px;
	padding: 0;
	margin: 0;
	border: 0;
	overflow: hidden;
}

#footer .fb-like-box{
	width:428px;
	height:250px;
}

#footer .link {
	margin-top:20px;
	text-align:center;
}

#footer .link a{
	font-weight:normal;
	padding:0 5px;
}

#footer .link a:hover{
	text-decoration:underline
}

/********* MENU ********/

#menu{
	position:relative;
	width:100%;
	background-color: #362f2d;
	list-style-type:none;
	height:30px;
}

#menu a.token{
	float: right;
	padding-left: 5px;
	line-height: 25px;
	height: 25px;
	width: 100px;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	background-color: #000;
	border-radius: 5px;
	text-align: right;
}

#menu a.token .ico{
	display:inline-block;
	float:left;
	width:25px;
	height:25px;
	background:url(../img/token.png) no-repeat;
}

#menu a.token .plus{
	display:inline-block;
	float:right;
	width:25px;
	height:25px;
	background:url(../img/plus.png) no-repeat;
}

#menu a.token .text{
	padding-right:5px;
}

#menu a.token:hover{
	cursor:pointer;
}

#menu ul{
	list-style-type:none;
}

#menu ul li a{
	display:block;
	float:left;
	padding:0 10px;
	line-height:25px;
	font-size: 15px;
	font-weight:bold;
	color:#fff;
}

#menu ul li a:hover{
	background-color: #fff;
	color:#000;
	border-radius: 8px;
	text-decoration:none;
}

/******* ACCUEIL *******/

#accueil{
	padding:10px;
}

#accueil .offline{
	height:250px;
	border-bottom:1px solid #DADADA;
	padding-bottom:10px;
	margin-bottom:10px;
}
#accueil .offline h2{
	padding-bottom:10px;
}

#accueil .profil{
	position:relative;
	padding:10px;
	height:50px;
}

#accueil .profil .photo{
	padding-right:10px;
}

#accueil .profil button{
	line-height:30px;
	background-color: #362f2d;
	color:#fff;
	padding:0 10px;
	font-weight:bold;
	font-size:15px;
	border-radius:5px;
}

#accueil .profil .right {
	position:relative;
	height:50px;
}

#accueil ul.menu_game {
	position:relative;
	height:30px;
	line-height:30px;
	position:relative;
	width:100%;
	background-color: #362f2d;
	list-style-type:none;
}
#accueil ul.menu_game li a{
	display:block;
	float:left;
	padding:0 10px;
	color:#fff;
}

#accueil ul.menu_game li a.selected{
	background-color:#005b7f;
}

#accueil ul.menu_game li a.normal:hover{
	background-color:#000;
}

#accueil ul.menu_game li a.connected {
	float:right;
}

#accueil #games{
	height:224px;
	overflow:auto;
}

#accueil table.games{
	border-collapse:collapse;
	width:100%;
	font-size:12px;
    color:#000;
    font-weight:bold;
}

#accueil table.games tr {
	height:56px;
}

#accueil table.games tr:nth-child(even),
#accueil table.games tr:nth-child(even) a {
	background-color:#362f2d; 
	color:#fff; 
}

#accueil table.games tr:nth-child(odd),
#accueil table.games tr:nth-child(odd) a {
	background-color:#EDEFF4; 
	color:#000;
}

#accueil table.games tr .images{
	width:60px;
	text-align:center;
}
#accueil table.games tr th{
	text-align:left;
}

#accueil table.games tr .nom{
	padding-left:5px;
	line-height:1.4em;
}

#accueil table.games tr .nom a{
	display: inline-block;
	padding-bottom:5px;
}

#accueil table.games tr .color,
#accueil table.games tr .time{
	width:60px;
	text-align:center;
}

#accueil table.games tr .play{
	width:100px;
	text-align:center;
}

#accueil table.games tr .play button{
	line-height:20px;
	background-color: #362f2d;
	color:#fff;
	padding:0 10px;
	font-weight:bold;
	font-size:13px;
	border-radius:5px;	
}

#accueil table.games tr .close{
	width:30px;
	text-align:center;
}

#accueil table.games tr .close a{
	display:block;
	width:20px;
	height:20px;
	background:url(../img/close.png) no-repeat;
}

#accueil table.games img{padding-top:3px;}

#accueil #tchat{
	border-top: 5px solid #362f2d;
	height: 220px;
	position: relative;
	background-color:#F1F2F6;
}

.profil_jeu #tchat{
	border-top: 1px solid #DADADA;
	height: 100px;
	position: relative;
	background-color:#F1F2F6;
}

.profil_jeu .tchat{
	font-size:11px;
    color:#000;
	padding:3px;
	overflow: auto;
	height:60px;
}

.profil_jeu textarea{
	position:absolute;
	bottom:5px;
	left:5px;
	width:440px;
	height:22px;
	padding:2px 5px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size:11px;
	background-color: #fff;
	border: 1px solid #BDC7D8;
	-webkit-box-sizing: border-box;
	outline: 0;
}

.replay {
	position:absolute;
	bottom:30px;
	right:100px;
	z-index:5;
}

.replay button {
	font-size: 12px;
	background: #362f2d;
	line-height: 25px;
	padding:0 5px;
	color: white;
	border-radius: 5px;
}

.replay .num {
	display: inline-block;
	font-weight: bold;
	color: #930;
	width: 40px;
	text-align: center;
	background-color:#fff;
}

#accueil div.tchat{
	font-size:11px;
    color:#000;
	padding:3px;
	overflow: auto;
	height:175px;
}

#accueil div.tchat .ct{
	position:relative;
	border-bottom:1px solid #fff;
}
#accueil div.tchat .ct .close{	
	position:absolute;
	right:0;
	top:2px;
}
#accueil div.tchat .ct .mg{
	line-height:1.6em;
	width:410px;
	margin-left:30px;
	word-wrap: break-word;
}

#accueil div.tchat .ct .mg .date{
	line-height:1.6em;
	font-size:10px;
	color:gray;
}

#accueil div.tchat .ct .image{
	float:left;
	padding-right:5px;
}

#accueil #tchat textarea{
	position:absolute;
	bottom:5px;
	left:5px;
	width:440px;
	height:30px;
	padding:5px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size:11px;
	background-color: #fff;
	border: 1px solid #BDC7D8;
	-webkit-box-sizing: border-box;
	outline: 0;
}

.form{
	margin: 10px 0;
}

.form label{
	width:90px;
	float:left;
	text-align:right;
	line-height:30px;
	font-weight:bold;
	font-size:15px;
	padding-right:10px;
}

.form input[type=text]{
	height:30px;
	line-height:30px;
	border:1px solid #DADADA;
	padding-left:5px;
	width:120px;
	border-radius:5px;
}

.form select{
	height:30px;
	line-height:20px;
	border:1px solid #DADADA;
	padding:5px;
	width:120px;
	border-radius:5px;
}

.form button{
	margin-top:10px;
	line-height:30px;
	background-color: #362f2d;
	color:#fff;
	padding:0 10px;
	font-weight:bold;
	font-size:15px;
	margin-left:20px;
	border-radius:5px;
}

.fenetre .stats_joueur {
	font-size:15px;
	line-height:1.8em;
}
.fenetre .stats_joueur .ct-stats {
	margin-left:50px;
}
.fenetre .stats_joueur .name-stats {
	padding:0 10px 20px 10px;
	color:#3b5998;
	line-height:0;
}
.fenetre .stats_joueur label {
	display: inline-block;
	width:100px;
	text-align:right;
}
.fenetre .stats_joueur strong {
	display: inline-block;
	font-weight: bold;
}

.fenetre .challenger {
	margin-bottom: 30px;
}

.fenetre .challenger img {
	float: left;
	padding-right: 10px;
}

.fenetre .challenger div.name {
	font-weight: bold;
	padding-bottom: 3px;
}

/********* JEU *********/

.partie_resultat{
	line-height:1.4em;
	margin-top:10px;
}

.partie_resultat ._right{
	float:right;
	text-align:right;
}

.partie_resultat ._left{
	float:left;
}

.partie_resultat .nom{
	margin-bottom:3px;
	font-weight:bold;
}

.partie_resultat .versus{
	font-weight:bold;
}

.profil_jeu{
	position:relative;
	margin:6px;
    height:50px;
}

.profil_jeu img{
	padding-right:10px;
}

.profil_jeu .nom{
	font-size:15px;
	line-height:50px;
	font-weight:bold;
}

.bt{
	position:absolute;
	right:100px;
	top:0;
}
.bt input[type="button"]{
	font-size: 12px;
	background: #362f2d;
	height: 25px;
	margin-bottom: 5px;
	width: 125px;
	text-align: center;
	color: white;
	border-radius: 5px;
}
.bt input[type="button"]:hover{
	cursor:pointer;
}
#coup{
	float:right;
	background: #362f2d;
	border-width: 5px 0 5px 0;
	border-color: #362f2d;
	border-style:solid;
	width:95px;
	height:400px;
	text-align:center;
}
#coup .coup{
	height:188px;
	padding:5px 0;
	line-height:1.4em;
	margin-bottom:5px;
	background-color:#fff;
	color:#000;
	overflow:auto;
}
.decompte {
	position:absolute;
	right:-8px;
	top:-3px;
	margin: 2px 5px;
	color: white;
	background-color: black;
	font-size: 18px;
	line-height: 25px;
	font-weight: bold;
	height: 25px;
	width:90px;
	text-align:center;
	border-radius: 5px;
}
.decompte_tour {
	position:absolute;
	right:-8px;
	top:25px;
	margin: 2px 5px;
	color: white;
	background-color: black;
	font-size: 18px;
	line-height: 25px;
	font-weight: bold;
	height: 25px;
	width:90px;
	text-align:center;
	border-radius: 5px;
}

#jeu_blanc,
#jeu_noir{
	position:relative;
	width:400px;
	height:400px;
	border-width:5px 5px 5px 0;
	border-style:solid;
	border-color:#362f2d;
	background:url(../img/plateau.png?2) no-repeat;
	
}

#jeu_blanc .case,
#jeu_noir .case{
	width:50px;
	height:50px;
	position:absolute;
}

#jeu_blanc .ui-droppable,
#jeu_noir .ui-droppable{
	background:#930;
	opacity:0.5;
}

.piece{
	width:50px;
	height:50px;
	position:relative;
	background-position: center;
	background-repeat: no-repeat;
}

.cavalier_blanc{ background-image:url(../img/cavalier_blanc.png?2); }
.cavalier_noir{ background-image:url(../img/cavalier_noir.png?2); }

.fou_blanc{ background-image:url(../img/fou_blanc.png?2); }
.fou_noir{ background-image:url(../img/fou_noir.png?2);}

.pion_blanc{ background-image:url(../img/pion_blanc.png?2); }
.pion_noir{ background-image:url(../img/pion_noir.png?2); }

.reine_blanc{ background-image:url(../img/reine_blanc.png?2); }
.reine_noir{ background-image:url(../img/reine_noir.png?2); }

.roi_blanc{ background-image:url(../img/roi_blanc.png?2); }
.roi_noir{ background-image:url(../img/roi_noir.png?2); }

.tour_blanc{ background-image:url(../img/tour_blanc.png?2); }
.tour_noir{ background-image:url(../img/tour_noir.png?2); }

#jeu_blanc .a{ left:0; }
#jeu_blanc .b{ left:50px; }
#jeu_blanc .c{ left:100px; }
#jeu_blanc .d{ left:150px; }
#jeu_blanc .e{ right:150px; }
#jeu_blanc .f{ right:100px; }
#jeu_blanc .g{ right:50px; }
#jeu_blanc .h{ right:0; }

#jeu_noir .a{ right:0; }
#jeu_noir .b{ right:50px; }
#jeu_noir .c{ right:100px; }
#jeu_noir .d{ right:150px; }
#jeu_noir .e{ left:150px; }
#jeu_noir .f{ left:100px; }
#jeu_noir .g{ left:50px; }
#jeu_noir .h{ left:0; }

#jeu_blanc ._1{ bottom:0; }
#jeu_blanc ._2{ bottom:50px; }
#jeu_blanc ._3{ bottom:100px; }
#jeu_blanc ._4{ bottom:150px; }
#jeu_blanc ._5{ top:150px; }
#jeu_blanc ._6{ top:100px; }
#jeu_blanc ._7{ top:50px; }
#jeu_blanc ._8{ top:0; }

#jeu_noir ._1{ top:0; }
#jeu_noir ._2{ top:50px; }
#jeu_noir ._3{ top:100px; }
#jeu_noir ._4{ top:150px; }
#jeu_noir ._5{ bottom:150px; }
#jeu_noir ._6{ bottom:100px; }
#jeu_noir ._7{ bottom:50px; }
#jeu_noir ._8{ bottom:0; }

#fenetre_piece,
.fenetre{
	position: absolute;
	background-color: #fff;
	z-index: 99;
	width: 380px;
	height: 100px;
	border:5px solid #362f2d;
	top:200px;
	left:45px;
	padding: 25px 10px;
	border-radius: 8px;
	box-shadow:0 0 10px #000
}

.fenetre h2 {
    color: #930;
    font-size:25px;
    font-weight:bold;
    text-align:center;
}

.fenetre h3 {
    font-size:15px;
    font-weight:bold;
    text-align:center;
	margin-bottom:30px;
}

.fenetre .resultat {
    margin-top:10px;
    color: #005b7f;
    font-size: 20px;
    font-weight:bold;
    text-align:center;
}

.fenetre .vainqueur {
    margin-top:10px;
    font-size: 20px;
    font-weight:bold;
    text-align:center;
}

.fenetre .partager {
	margin-top:10px;
	text-align: center;
}

.fenetre .partager button{
	background-color: #3b5998;
	color: #fff;
	font-weight: bold;
	border-radius: 5px;
	font-size: 17px;
	padding: 5px 10px;
}

#fenetre_piece .piece{
	display: inline-block;
	margin: 0 10px;
}

#fenetre_piece .piece:hover{
	cursor: pointer;
}

.fenetre .close{
	position:absolute;
	top:5px;
	right:5px;
	width:20px;
	height:20px;
	background:url(../img/close.png) no-repeat;
}
.fenetre .close:hover{
	cursor:pointer;
}

.fenetre button.go-shop {
	line-height: 30px;
	background: url(../img/bt-shop.png) repeat-x;
	color: #fff;
	padding: 0 10px;
	font-weight: bold;
	font-size: 15px;
	border-radius: 5px;
	margin:0 10px;
}

#fenetre_nul,
#fenetre_abandonner{
	display:none;
}

.invite {
	top:100px;
	height:300px;
}

.invite .photo{
	float:left;
	padding-right:10px;
	position: relative;
	top: -15px;
}

.invite .photo img{
	width:30px;
}

.invite h3 {
	color:#004f80;
	text-align:left;
	margin-bottom:5px;
}

.invite .infos{
	position:relative;
	top:-5px;
	font-size:11px;
}

.invite ul {
	position:relative;
	left:-10px;
	height: 30px;
	line-height: 30px;
	position: relative;
	width: 400px;
	background-color: #362f2d;
	list-style-type: none;
}

.invite ul li a{
	display:block;
	float:left;
	padding:0 10px;
	color:#fff;
}

.invite ul li a.selected{
	background-color:#005b7f;
}

.invite ul li a.normal:hover{
	background-color:#000;
}

.invite .ct {
	margin-top:5px;
	display: block;
	height: 200px;
	overflow: auto;
}

.invite table {
	border-collapse:collapse;
	width:100%;
	font-size:13px;
    color:#000;
}

.invite table tr {
	height:20px;
}

.invite table tr td.check{
	width: 20px;
}

.invite table tr td.name{
	width: 160px;
	font-size:11px;
	overflow: hidden;
}

.invite button{
	float:right;
	line-height: 25px;
	background: url(../img/bt-shop.png) repeat-x;
	color: #fff;
	padding:0 10px;
	font-weight: bold;
	font-size: 13px;
	border-radius: 5px;
	margin: 5px 30px 0 0;
}

.invite .nb{
	position:absolute;
	bottom:10px;
	left:10px;
}

.invite .nb strong{
	color:#930;
}
/******** CLASSEMENT ********/

table.classement{
    border-collapse:collapse;
	width:100%;
	font-size:15px;
    color:#000;
    font-weight:bold;
}

table.classement tr{
	height:60px;
}

table.classement tr td.position{
	width:40px;
	text-align:center;
}

table.classement tr td.nom{
	width:300px;
}

table.classement tr td.images,
table.classement tr td.scores{
	width:70px;
	text-align:center;
}

table.classement tr td.images img:hover{
	cursor:pointer;
}

table.classement tr td.images img{padding-top:3px;}

/******* PAGE **********/

#page {
    position:absolute;
    width:100%;
    bottom:20px;
    color:#000
}

#page ._page {
    text-align: center;
    margin: 0 30px;
}

#page div.page{
    display:inline-block;
	margin:0 2px;
    height:29px;
    width:29px;
    line-height:29px;
	background-color:#362f2d;
	color:#fff;
    border:0;
	border-radius: 5px;
    text-align:center;
	font-size:11px;
}

#page div.page:hover{
    cursor:pointer;
    box-shadow:0 0 10px #000;
}

/********* SHOP ************/

#shop {
	position: absolute;
	background-color: #fff;
	z-index: 99;
	width: 400px;
	height:350px;
	border: 5px solid #362f2d;
	top: 120px;
	left: 45px;
	border-radius: 8px;
	box-shadow: 0 0 10px #000;
}

#shop .close{
	position:absolute;
	top:5px;
	right:5px;
	width:20px;
	height:20px;
	background:url(../img/close.png) no-repeat;
}

#shop .close:hover{
	cursor:pointer;
}

#shop .infos{
	position: absolute;
	top:40px;
	right:5px;
	font-weight:bold;
}

#shop .infos img{
	position: relative;
	top:5px;
}

#shop h3{
	position: relative;
	height: 50px;
	margin:10px;
	line-height: 80px;
	background: url(../img/token-medium.png) no-repeat left top;
	padding-left: 60px;
	font-size: 20px;
	width:75%;
}

#shop ul{
	height: 30px;
	line-height: 30px;
	position: relative;
	width: 400px;
	background-color: #362f2d;
	list-style-type: none;
}

#shop ul li a{
	display:block;
	float:left;
	padding:0 10px;
	color:#fff;
}

#shop ul li a.selected{
	background-color:#005b7f;
}

#shop ul li a.normal:hover{
	background-color:#000;
}

#shop table {
	border-collapse:collapse;
	width:100%;
	font-size:15px;
    color:#000;
    font-weight:bold;
}

#shop table tr {
	height:50px;
	border-bottom:1px solid #DADADA;
}

#shop table tr th{
	text-align:left;
}

#shop table tr th.token{
	background: url(../img/token-small.png) no-repeat center;
	width:50px;
}

#shop table tr th.nb .total{
	color:#930;
}

#shop table tr th.nb .base{
	font-size:12px;
	color:#555555;
	text-decoration: line-through;
}

#shop table tr th.button{
	width: 170px;
}

#shop table tr th.button button{
	width: 150px;
	padding: 5px 0;
	background: url(../img/bt-shop.png) repeat-x;
	color: #fff;
	text-align:center;
	font-weight: bold;
	font-size: 15px;
	border-radius: 5px;
}

#shop .trialpay {
	display:block;
	width:200px;
	height:75px;
	background: url(../img/trialpay.png) no-repeat;
	border:0;
	margin:30px auto 0 auto;
	box-shadow: 0 0 10px #000
}

#shop .sponsorpay {
	display:block;
	margin-top:25px;
	width:200px;
	height:75px;
	background: url(../img/sponsorpay.png) no-repeat;
	border:0;
	margin:30px auto 0 auto;
	box-shadow: 0 0 10px #000
}

#shop .tokenads {
	display:block;
	margin-top:25px;
	width:200px;
	height:75px;
	background: url(../img/tokenads.png) no-repeat;
	border:0;
	margin:30px auto 0 auto;
	box-shadow: 0 0 10px #000
}

/********** Trophy ********/

#trophy {
	position: absolute;
	background-color: #fff;
	z-index: 99;
	width: 500px;
	height:500px;
	border: 5px solid #362f2d;
	top: 100px;
	left: -5px;
	border-radius: 8px;
	box-shadow: 0 0 10px #000;
	background:url(../img/bg-trophee.png) no-repeat;
}

#trophy .close{
	position:absolute;
	top:5px;
	right:5px;
	width:20px;
	height:20px;
	background:url(../img/close.png) no-repeat;
}

#trophy .close:hover{
	cursor:pointer;
}

#trophy h3{
	text-align:center;
	font-size: 20px;
	margin: 40px 0 30px 0;
}

#trophy .win {
	font-style:italic;
	margin-top:73px;
	font-size:13px;
}
#trophy h4{
	text-align:center;
	font-size: 15px;
	margin:10px;
}

#trophy .partager{
	display: inline-block;
	position: absolute;
	bottom: 23px;
	left: 150px;
	margin-top: 30px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	width: 140px;
	line-height: 50px;
	text-align: center;
	padding-right: 60px;
}

.trophy{
	display:inline-block;
	position:relative;
	width:100px;
	height:100px;
	background-position:bottom;
	background-repeat: no-repeat;
}

.trophy-win{
	margin-top: 43px;
}

#trophy .description{
	display:none;
	position:absolute;
	color:#fff;
	left:15px;
	top:-135px;
	height:200px;
	width:200px;
	background:url(../img/trophees/description.png) no-repeat;
}

#trophy .description h4{
	text-align:center;
	margin:40px 20px 10px 20px;
	font-size:15px;
}

#trophy .description p{
	text-align:center;
	margin: 0 20px;
}

#trophy .no-trophy{ background-image:url(../img/trophees/no-trophee.png); }

._1_game{ background-image:url(../img/trophees/_1_game.png); }
._100_game{ background-image:url(../img/trophees/_100_game.png); }
._500_game{ background-image:url(../img/trophees/_500_game.png); }
._1000_game{ background-image:url(../img/trophees/_1000_game.png); }
._5000_game{ background-image:url(../img/trophees/5000_game.png); }

._1_wins{ background-image:url(../img/trophees/_1_wins.png); }
._50_wins{ background-image:url(../img/trophees/_50_wins.png); }
._250_wins{ background-image:url(../img/trophees/_250_wins.png); }
._500_wins{ background-image:url(../img/trophees/_500_wins.png); }
._2000_wins{ background-image:url(../img/trophees/_2000_wins.png); }

._5_games_day{ background-image:url(../img/trophees/_5_games_day.png); }
._10_games_day{ background-image:url(../img/trophees/_10_games_day.png) ; }
._25_games_day{ background-image:url(../img/trophees/_25_games_day.png); }
._50_games_day{ background-image:url(../img/trophees/_50_games_day.png) ; }
._100_games_day{ background-image:url(../img/trophees/_100_games_day.png); }

._3_wins_cons{ background-image:url(../img/trophees/_3_wins_cons.png); }
._5_wins_cons{ background-image:url(../img/trophees/_5_wins_cons.png); }
._10_wins_cons{ background-image:url(../img/trophees/_10_wins_cons.png); }
._20_wins_cons{ background-image:url(../img/trophees/_20_wins_cons.png) ; }
._3_loses_cons{ background-image:url(../img/trophees/_3_loses_cons.png); }

#trophy ._1:hover > .description_1 { display:block;}
#trophy ._2:hover > .description_2{ display:block; }
#trophy ._3:hover > .description_3{ display:block; }
#trophy ._4:hover > .description_4{ display:block; }
#trophy ._5:hover > .description_5{ display:block; }

#trophy ._6:hover > .description_6{ display:block;}
#trophy ._7:hover > .description_7{ display:block; }
#trophy ._8:hover > .description_8{ display:block; }
#trophy ._9:hover > .description_9{ display:block; }
#trophy ._10:hover > .description_10{ display:block; }

#trophy ._11:hover > .description_11{ display:block;}
#trophy ._12:hover > .description_12{ display:block; }
#trophy ._13:hover > .description_13{ display:block; }
#trophy ._14:hover > .description_14{ display:block; }
#trophy ._15:hover > .description_15{ display:block; }

#trophy ._16:hover > .description_16{ display:block;}
#trophy ._17:hover > .description_17{ display:block; }
#trophy ._18:hover > .description_18{ display:block; }
#trophy ._19:hover > .description_19{ display:block; }
#trophy ._20:hover > .description_20{ display:block; }

/**********Facebook************/

.uiCloseButton {
	background-image: url(../img/sup_fb.png);
	background-repeat: no-repeat;
	height: 15px;
	width: 15px;
	cursor: pointer;
}
.uiCloseButton:hover {
	background-position: 0 -32px;
}

/********* SPONSORPAY ************/

#sponsorpay {
	position: absolute;
	background-color: #fff;
	z-index: 99;
	width: 600px;
	height:600px;
	border: 5px solid #362f2d;
	top: 0px;
	left: -50px;
	border-radius: 8px;
	box-shadow: 0 0 10px #000;
}

#sponsorpay .close{
	position:absolute;
	top:5px;
	right:5px;
	width:20px;
	height:20px;
	background:url(../img/close.png) no-repeat;
	z-index:99;
}

#sponsorpay .close:hover{
	cursor:pointer;
}

#sponsorpay iframe{
	width:100%;
	height:100%;
	border:0px;
}

/******** Pub *********/

#pub-footer {
	position: relative;
	width: 728px;
	height: 90px;
	margin: 10px auto;
	background: #fff;
	border: 5px solid #362f2d;
	border-radius: 5px;
}

#pub-footer iframe {
	width: 728px;
	height: 90px;
	padding: 0;
	margin: 0;
	border: 0;
	overflow: hidden;
}
