!!!
html
	head
		title= title
		meta(name="author", content="Solutions Web")
		meta(name="description", content="Online Chess Game")
		meta(name="viewport", content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no")
		meta(name="apple-mobile-web-app-capable", content="yes")
		link(rel='stylesheet', href='/css/style.css');
		script(src='/js/jquery/jquery.min.js')
		script(src='/js/jquery/jquery-ui.min.js')
		script(src='/js/jquery/jquery-ui.touch-punch.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/lang.js')
		script(src='/js/function.js')
		script(src='/js/online.js')
		script(src='/js/offline.js')
		script(src='/js/twoplayer.js')
		script(src='/js/computer.js')
		script(src='/js/minmax.js')
		script(src='//s-assets.tp-cdn.com/static3/js/api/payment_overlay.js')
		script(src='//ads.lfstmedia.com/getad?site=150053')
	
	body
		block body